*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.navigation
.externalNativeBuild
.cxx
local.properties
      
